paperdump/
.vscode
*.pyc
__pycache__/
*.pyo
*.pyd
*.venv
*.lock
run_*.sh
MMAudio/log/
MMAudio/logs/
MMAudio/data/
MMAudio/examples/
saves
MMAudio/saves/
MMAudio/weights/
weights
MMAudio/output/
MMAudio/output
MMAudio/pretrained/
MMAudio/workspace/
MMAudio/ext_weights/
ext_weights
MMAudio/.checkpoints/
MMAudio/checkpoints/
training/example_output/
images/
MMAudio/.python-version
MMAudio/av-benchmark/
MMAudio/tools/
training_data/



AudioLDM-training-finetuning/__pycache__
AudioLDM-training-finetuning/taming
AudioLDM-training-finetuning/log
AudioLDM-training-finetuning/esc50.zip
AudioLDM-training-finetuning/ESC-50-master
*.wav
AudioLDM-training-finetuning/ckpt
AudioLDM-training-finetuning/lightning_logs
mlx_submit_*
AudioLDM-training-finetuning/job_queue.sh
*.txt
*.cleaned
AudioLDM-training-finetuning/audiocaps_train.json
AudioLDM-training-finetuning/dataset
AudioLDM-training-finetuning/checkpoints
*.tar
condor*
AudioLDM-training-finetuning/wandb
log/
AudioLDM-training-finetuning/data
AudioLDM-training-finetuning/log

im2wav/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST



