paperdump/
.vscode
*.pyc
__pycache__/
*.pyo
*.pyd
*.venv
*.lock
run_*.sh
MMAudio/log/
MMAudio/logs/
MMAudio/data/
MMAudio/examples/
saves
MMAudio/saves/
MMAudio/weights/
weights
MMAudio/output/
MMAudio/output
MMAudio/pretrained/
MMAudio/workspace/
MMAudio/ext_weights/
ext_weights
MMAudio/.checkpoints/
MMAudio/checkpoints/
training/example_output/
images/
MMAudio/.python-version
MMAudio/av-benchmark/
MMAudio/tools/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST



